{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi there, <br>
          <br>
          My name is Vitaliy and I'm an entry-level developer who is passionate about coding and programming. I've been studying programming as a hobby for some time now, and I'm always looking to learn more. Currently, I work as an English teacher for adults, but my ultimate goal is to combine my love for teaching and coding one day.
          <br>
          <br>
          In my free time, I love experimenting with new programming languages and techniques, and I'm always trying to challenge myself to learn something new. I believe that programming is a powerful tool that can help us solve complex problems and improve our lives in countless ways.
          <br>
          <br>
          As someone who has experienced the challenges of balancing work, personal interests, and self-care, I created this website to share my insights and methods for staying balanced. I believe that mindfulness and self-care are essential for anyone pursuing a demanding career or hobby, and I hope that my experiences and tips can help others find more balance and joy in their lives.
          <br>
          <br>
          Thank you for visiting BrewBalance website, and I hope you find something here that inspires you on your own journey of learning and growth.
          
          
          
          </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}